.header{
    background-color: rgb(30, 30, 160);
    text-align: center;
}
.pad1{
    padding: 100px 50px 100px 50px;
    font-size: 50px;
    font-family:sans-serif;
    src: url(sansation_bold.woff);
    font-weight: bold;
}
.GenInfo{
    background-color: rgba(28, 28, 255, 0.762);
    text-align: center;
}
.textAlign{
    text-align: justify;
    padding-left: 500x;
    padding-right: 250px;
}